<% provide :title, t("import_title") %>
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <h1><%= t "import_title" %></h1>
    <%= form_tag admin_words_path, multipart: true do %>
      <%= select_tag :category_id,
        options_from_collection_for_select(@categories, :id, :name,
        params[:category_id]), class: "form-control" %>
      <%= file_field_tag :file, class: "form-control" %>
      <%= submit_tag t("import_words"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
